.search {
  margin-top: 10px;

  &_field {
    width: 300px;
    margin-left: 20px;
  }
}

::ng-deep.mat-form-field .mat-form-field-label {
  color: #cf9400;
}
::ng-deep.mat-form-field.mat-focused .mat-form-field-label {
  color: #cf9400;
}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #cf9400;
}
::ng-deep.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #cf9400;
}
