<div class="main" *ngIf="responseForecast$ | async as data">

  <div class="main_forecast">

    <forecast-card-header [data]="data">
      <app-favorite-button
        location-suffix
        [selected]="favoriteButtonSelectedState$ | async"
        (selectedChange)="onFavoriteButtonSelectedChange($event)">
      </app-favorite-button>
    </forecast-card-header>

    <app-search-input></app-search-input>

    <div class="main_forecast__content">
      <div class="main_forecast__content_item">
        <forecast-card-temperature [data]="data"></forecast-card-temperature>
      </div>
      <div class="main_forecast__content_item">
        <forecast-card-info [data]="data"></forecast-card-info>
      </div>
    </div>
  </div>

  <app-time-information [itemsHour]="data?.forecast?.forecastday[0].hour" [mainHour]="data?.location?.localtime">
  </app-time-information>

</div>

