<div class="common-information">
  <div class="common-information-icon">
    <img [src]="data?.current?.condition?.icon" alt="" width=90>
    <p>{{ data?.current?.condition?.text }}</p>
  </div>

  <div class="common-information-data">
    <p>
      <img src="../../../assets/images/icon-umberella.png" alt="">
      <span>{{ data?.current?.humidity }}%</span>
    </p>

    <p>
      <img src="../../../assets/images/icon-wind.png" alt="">
      <span>{{ data?.current?.wind_kph }} км/ч</span>
    </p>

    <p>
      <img src="../../../assets/images/icon-compass.png" alt="">
      <span>{{ data?.current?.wind_dir }}</span>
    </p>
  </div>
</div>
