.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.forecast-table {
  color: #fff;
}

body {
  margin: 0;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  }

svg:not(:root) {
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
}

 /*
  * Global Styles
  */
html {
  font-size: 14px;
}

body {
  color: #bfc1c8;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  background: #1e202b;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0 0 20px;
  line-height: normal;
}

hr {
  border: none;
  border-bottom: 1px solid #777;
}

ul, ol {
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #009ad8;
}

address {
  font-style: normal;
}

p {
  margin: 0;
}

.button, form input[type="submit"], form button, form input[type="reset"] {
  border: none;
  background: #009ad8;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}

.forecast-container {
  width: 100%;
  background: #323544;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 50px;
}

.forecast-container .forecast:nth-child(even) {
  background-color: #262936;
}

.forecast-container .forecast.today {
  width: 100%;
}

.forecast-container .forecast.today .forecast-header:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}

.forecast-container .forecast.today .forecast-content {
  display: flex;
  align-items: baseline;
  padding-top: 30px;
  padding-bottom: 30px;
}

.forecast-container .forecast.today .location {
  font-size: 18px;
  font-size: 1.2857142857em;
  font-weight: 400;
}

.forecast-container .forecast.today .degree .num, .forecast-container .forecast.today .degree .forecast-icon {
  display: inline-block;
  vertical-align: middle;
}

.forecast-container .forecast.today .degree .num {
  font-size: 90px;
  font-size: 6.4285714286rem;
  margin-right: 30px;
}

.forecast-container .forecast.today span img {
  margin-right: 5px;
  vertical-align: middle;
}

.forecast-container .forecast .forecast-header {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

.forecast-container .forecast .forecast-content {
  padding: 10px 20px 10px;
  text-align: center;
}

.forecast-container .forecast .forecast-content .degree {
  font-size: 24px;
  font-size: 1.7142857143em;
  color: white;
  font-weight: 700;
}

.forecast-container .forecast .forecast-content small {
  font-size: 16px;
  font-size: 1.1428571429em;
}

::ng-deep.mat-form-field .mat-form-field-label {
  color: #cf9400;
}
::ng-deep.mat-form-field.mat-focused .mat-form-field-label {
  color: #cf9400;
}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #cf9400;
}
::ng-deep.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #cf9400;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bfc1c8;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bfc1c8;
}
