<div class="search">
  <mat-form-field class="search_field" appearance="outline">
    <mat-label>Search</mat-label>
    <input type="text" matInput (input)="searchCity($event)" name="search" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of citySearchValues$ | async"
        [value]="option.name"
        (click)="emitCityName(option.name)">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
