<div class="main_forecast__header">
  <div class="main_forecast__header-item main_forecast__header-item-start">
    <span>{{ currentDayAsText }}</span>
  </div>

  <div class="main_forecast__header-item main_forecast__header-item-center">
    <span>{{ data.location.name }}</span>

    <ng-content select="[location-suffix]"></ng-content>
  </div>

  <div class="main_forecast__header-item main_forecast__header-item-end">
    <span>{{ data.location.localtime | date:'dd.MM.yyyy HH:mm:ss' }}</span>
  </div>
</div>
