<div class="main">
  <div class="main_wrapper" *ngFor="let item of $any(itemsHour | slice:getMainHourNumber(mainHour))">
    <div class="main_wrapper_forecast">
      <div class="main_wrapper_forecast-header">
        {{ item?.time.slice(11, 16) }}
      </div>
      <div class="main_wrapper_forecast-content">
        <div class="main_wrapper_forecast-content-icon">
          <img [src]="item?.condition.icon" alt="" width=70>
          <p>{{ item?.condition.text }}</p>
        </div>
        <div>
          {{ item?.temp_c }}<sup>o</sup>C
        </div>
      </div>
    </div>
  </div>
</div>
